/* app css stylesheet */

h1 { text-align: center;}
.back { float: left; margin: 10px;}
.next { float: right; margin: 10px;}
p { font-size: 1.5em; }
.choice li { float: left;}
.choice button.large { padding: 11px 15px 13px; margin: 0px 5px;}

form.nice div.form-field input {
    font-size: 1.5em;
}

table.summary td { font-size: 1.5em;}

.summary .question { font-weight: bold;}

pre {
    font-family: Courier New, sans-serif;
    clear: left;
}