<form name="identityForm" class="nice" ng-controller="Questionnaire.IdentityQuestionController">
<div class="form-field">
    <label for="nhs">NHS Number:</label>
    <input id="nhs" name="nhs" ng-model="answer.nhs" valid="answer.nhsIsValid" ui-mask='"999-999-9999"' placeholder="123-456-7890" required />
</div>
<div class="form-field">
    <label for="dob">Date of Birth:</label>
    <input readonly id="dob" placeholder="Please select a date" required value="{{niceDate(answer.dob)}}">
    <div ui-date="dateOptions" ng-model="answer.dob" name="dob" required />
</div>
</form>
