<header>
	<button class="large button radius back" ng:click="home()">Back</button>
	<button class="large button radius next" ng:click="submit()">Submit</button>
	<h1>{{questionnaire.title}}</h1>
</header>
<h2>Summary</h2>
<p>Please check your answers and then submit</p>
<table class="summary nice">
	<tbody>
		<tr ng:repeat="answer in response.answers">
			<td class="question">{{answer.question.title}}</td>
			<td class="answer">{{answer.description}}</td>
			<td><a ng:href="#/{{questionnaireId}}/{{answer.questionIndex}}" class="large button radius">Change</td>
		</tr>
	</tbody>
</table>
